@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gt-main-color: #88aaee;
    --gt-main-accent-color: #4d80e6;

    --gt-bg-color: #dfe5f2;
    --gt-text-color: #000000;
    --gt-border-color: #000000;

    --gt-bg-color-dark: #272933;
    --gt-text-color-dark: #eeefe9;
    --gt-border-color-dark: #000;

    --gt-secondary-color-dark: #1b1b1b;
  }

  .dark {
  }

  .yellow {
    --gt-main-color: #ffdc58;
    --gt-main-accent-color: #ffc800;

    --gt-bg-color: #fef2e8;
    --gt-text-color: #000000;
    --gt-border-color: #000000;

    --gt-bg-color-dark: #374151;
    --gt-text-color-dark: #eeefe9;
    --gt-border-color-dark: #000;

    --gt-secondary-color-dark: #1b1b1b;
  }
}
